@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <h1>Đăng Ký</h1>

    <div class="form-group mb-3">
        <label for="fname">Full name</label>
        <input type="text" id="fname" name="fname" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="email">Username</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="nbphone">Phone Number</label>
        <input type="text" id="nbphone" name="nbphone" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="name" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="re-password">Retype Password</label>
        <input type="password" id="re-password" name="re-password" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>