@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <h1>Đăng Nhập</h1>
    <div class="form-group mb-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="name" class="form-control" value="yennh"/>
    </div>
    <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" value="123456"/>
    </div>
    <div class="form-group mb-3">
        <label for="remember">
            <input type="checkbox" value="1" id="remember" name="remember" />
            Remember me
        </label>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>