<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bai11</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bai11.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <img src="~/imgs/banner.jpg" width="100%" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Product">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Register">Đăng ký</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control" placeholder="Search" />
                        <button class="btn btn-outline-success">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="row pb-3">
            <div class="col-xl-2 col-md-9 col-sm-12">
                <ul class="menu br">
                    <li class="active">Danh mục sản phẩm</li>
                    <li>
                        <a>Mái xếp</a>
                    </li>
                    <li>
                        <a>Mái che</a>
                    </li>
                    <li>
                        <a>Mái vòm</a>
                    </li>
                    <li>
                        <a>Mái hiên di động</a>
                    </li>
                </ul>
                <ul class="menu">
                    <li class="active">Hỗ trợ trực tuyến</li>
                </ul>
                <ul class="menu">
                    <li class="active">Thống kê truy cập</li>
                    <li>Số người truy cập: 87</li>
                    <li>Số người online: 10</li>
                    <li>Số thành viên: 50</li>
                </ul>
            </div>
            <div class="col-xl-10 col-md-3 col-sm-12">
                @RenderBody()
            </div>

        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
