@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="text-uppercase">Sản phẩm tiêu biểu</h1>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="220" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sinh Nhật 1</h5>
                <p class="card-text">
                    Giá: <span class="text-danger">300,000đ</span>
                </p>
                <a href="#" class="btn btn-primary w-100">Chọn mua</a>
            </div>
        </div>
    </div>
</div>