@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Liên Hệ";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p>Quý khách có nhu cầu, vui lòng liên hệ theo địa chỉ</p>
    <h1>Cửa hàng Sơn Phát</h1>
    <p>Địa chỉ: 145 Lê Trọng Tấn, P. Tây Thạnh, Quận Tân Phú</p>
    <p>Điện thoại: (0834.658.455)</p>
</div>