@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="text-uppercase">Sản phẩm mới</h1>
    <div class="col-sm-12 col-md-3 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="250" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="250" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Chọn mua</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
        <div class="card">
            <img src="~/imgs/product.jpg" height="250" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Chọn mua</a>
            </div>
        </div>
    </div>
</div>