@{
    ViewData["Title"] = "Home Page";
}
@using System.Text.Json
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor;
@{
    var user = JsonSerializer.Deserialize<User>(accessor.HttpContext.Session.GetString("user"));
}
<div class="text-center">
    <h1 class="display-4">Welcome @user.Fullname</h1>
    <a asp-action="DangXuat" asp-controller="User">Đăng Xuất</a>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
