@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        @foreach(BookModel book in ViewBag.books)
        {
            <div class="col-md-3 mb-3">
                <div class="card p-3 border-danger">
                    <img src="@book.avatar" class="card-img-top" width="100" alt="...">
                    <div class="card-body p-0">
                        <h5 class="card-title text-md">@book.Title</h5>
                        <p class="card-text text-danger text-center m-0">@book.Price VNĐ</p>
                        <a href="#" class="btn btn-danger w-100 text-light text-uppercase text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Chọn mua
                        </a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>